<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>pH manager</title>
    <!-- import plugin script -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-dragdata@1.0.1/dist/chartjs-plugin-dragData.min.js"></script>
    <script src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename = 'json2.js') }}"></script>
</head>
<body onload="onStart()">
<h1>pH #<span id="channelId">unselected</span></h1>
<!-- bar chart canvas element -->
<div id="channelRadios">
</div>
<div id="divchart" class="chart-container panel-container">
    <canvas id="myChart" width="1800" height="400"></canvas>
</div>

<div class="panel-container">
    <p id="pointSelected">Point selected:</p>
    <div class="parent-table">
        <table id="tblData" style="width:100%">
            <tr id="firstRow">
                <td>Index</td>


            </tr>
            <tr id="secondRow">
                <td>Expected pH</td>


            </tr>
            <tr id="thirdRow">
                <td>Time</td>


            </tr>
        </table>
    </div>
    <div>
        <input id="add" type="submit" name="add_button" value="Add step">
    </div>
</div>
<div class="panel-container">
    <div>
        <progress id="animationProgress" max="1" value="0" style="width: 100%"></progress>
        <input id="start" type="submit" name="start_button" value="Start" disabled>
        <input id="stop" type="submit" name="stop_button" value="Stop" disabled>
        <input id="saveTemplate" type="submit" name="save_button" value="Save Template">
    </div>
    <div>
        <div>
            <label>Templates</label>
        </div>
        <div>
            <select name="templates" id="templatesList" size=4>
            </select>
        </div>
        <div>
            <input id="loadTemp" type="submit" name="load_button" value="Load Template">
            <input id="deleteTemp" type="submit" name="del_button" value="Delete Template">
        </div>
    </div>
</div>


<script>
    var numberOfChannels = {{ numberOfChannels }};
    var legend = "{{ legend }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/time_chart.js') }}"></script>

</body>
</html>

