<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>pH manager</title>
    <!-- import plugin script -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-dragdata@1.0.1/dist/chartjs-plugin-dragData.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.4"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename = 'json2.js') }}"></script>
</head>
<body onload="onStart()">
<h1>pH #<span id="channelId">unselected</span></h1>
<!-- bar chart canvas element -->
<div id="channelButtons" class="tab">
</div>
<div id="divchart" class="chart-container panel-container">
    <canvas id="myChart" width="1800" height="400"></canvas>
    <button id="recalibrate">Recalibrate</button>
    <span>Last calibration: <span id="lastCalibrationLabel">{{data['calibration']['ph']['chan1']['date'] }}</span></span>
</div>

<div class="panel-container">
    <p id="pointSelected">Point selected:</p>
    <div class="parent-table">
        <table id="tblData" style="width:100%">
            <tr id="firstRow">
                <td>Index</td>


            </tr>
            <tr id="secondRow">
                <td>Expected pH</td>


            </tr>
            <tr id="thirdRow">
                <td>Interval</td>
            </tr>
            <tr id="fourthRow">
                <td>Time</td>
            </tr>
        </table>
    </div>
    <div>
        <button id="add">Add step at the end</button>
        <div id="managePoints">
            <button id="addAfterPoint">Add point after selected</button>
            <button id="removePoint">Remove selected point</button>
        </div>
    </div>
</div>
<div class="panel-container">
    <div>
        <div class="barContainer">
            <div id="outerProgress" class="outerProgress">
                <progress class="progress" id="animationProgress" max="1" value="0" style="width: 100%"></progress>
            </div>
        </div>

        <span id="channelCheckTitle"></span>
        <div id="channelCheckboxes">
        </div>
        <button id="start" hidden>Start process for channels</button>
        <button id="stop" hidden>Stop process for channels</button>
        <button id="saveTemplate">Save template</button>
    </div>
    <div>
        <div>
            <label>Templates</label>
        </div>
        <div>
            <select name="templates" id="templatesList" size=8>
            </select>
        </div>
        <div>
            <button id="loadTemp">Load template</button>
            <button id="deleteTemp">Delete template</button>
        </div>
    </div>
</div>


<script>
    var numberOfChannels = {{ numberOfChannels }};
    var legend = "{{ legend }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/time_chart.js') }}"></script>

</body>
</html>

